# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# C extensions
*.so

# Distribution / packaging
.Python
db.sqlite3
*.pkl
*.sqlite

# Streamlit-specific
streamlit/.streamlit/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml

# Virtual environments
*.venv/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Jupyter notebook
.ipynb_checkpoints/

# Pyre type checker
.pyre/

# Docker
*.env  # Environment variables, sensitive data might be inside
docker-compose.override.yml

# OS-specific files
.DS_Store  # macOS
._*        # macOS
Thumbs.db  # Windows
Desktop.ini # Windows
*.swp      # Linux (Vim swap files)

# Data files
*.csv
*.xls
*.xlsx
*.db
*.sql
*.sqlite
*.sqlite3
*.json
*.xml
*.hdf5
*.h5
*.mat
*.sav
*.rdata
*.rds
*.pkl
*.parquet
*.feather
*.arrow
*.tsv
*.dat
*.tar.gz
*.zip
*.gz
*.bz2
*.rar
*.7z
